.hero_banner_div {
  max-width: 100%;
  height: 500px;
  background-image: url(stay_home_stay_safe_hero.png);
}

.hero_banner_btn {
  transition: all 0.5s ease;
  border: 3px solid white;
  background-color: rgb(218, 163, 45);
  border-radius: 8px;
  height: 70px;
  padding: 15px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  top: 75%;
  left: 14%;
}

.hero_banner_btn:hover {
  cursor: pointer;
  color: #001f3f;
  background-color: #fff;
}
