.symptoms_main_div {
  padding: 6rem 6rem 0rem 6rem;
  font-size: 1.4rem;
}

.symptoms_normal_div {
}

.symptoms_emergency_div {
}

.register_now_banner {
}

img {
  max-width: 100%;
  height: auto;
}
